<section data-ng-controller = 'CategoryController' data-ng-init='findOne()'>
	<div class="container create-container">
		<div class="row header">
			<div class="col-xs-2">
				<a href="#/invoices"><i class="fa fa-arrow-left"></i></a>
			</div>
			<div class="col-xs-8">
				<h2>Detalle de Factura</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<p><strong>Id:</strong> {{invoice._id}}</p>
				<p><strong>Cliente:</strong> {{invoice.clientName}}</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<p><strong>Fecha:</strong> {{invoice.date | date: 'longdate'}}</p>
			</div>
		</div>
		<div class="row">
			div.
		</div>
</section>
