<!DOCTYPE html>
<html ng-app='main'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title><%= title %></title>
		<!-- Jquey Resources -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap Resources -->
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- CSS Files -->
		<link rel="stylesheet" type="text/css" href="assets/css/simple-sidebar.css">
		<link rel="stylesheet" type="text/css" href="dist/css/styles.css">
		<!--  Font Files -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Angular Resources -->
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_es-es.js"></script>
		<!-- AngularUI Bootstrap Resources -->
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="ng-cloak">
		<div id="wrapper" class="active">
			
			<!-- Sidebar -->
			<!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul id="sidebar_menu" class="sidebar-nav">
					<li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
				</ul>
				<ul class="sidebar-nav" id="sidebar">
					<li><a href="#/">Caja<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
					<li><a href="#/invoices">Facturas<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
					<li><a href="#/products">Productos<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
					<li><a href="#/productCodes">Nombres de Producto<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
					<li><a href="#/categories">Categorias<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
				</ul>
			</div>
			<!-- /#sidebar-wrapper -->
			<!-- Page Content -->
			<div id="page-content-wrapper">
					<div data-ui-view></div>
			</div>
			<!-- /#page-content-wrapper -->
		</div>
		<!-- /#wrapper -->
		<!-- JS Files -->
		<!-- Angular Files -->
		<script src="dist/angular/compress.min.js"></script>
		<!-- Menu JS -->
		<script src="assets/js/menu.js"></script>
	</body>
</html>