$color-gray-light: #fbfbfb;
$color-gray-primary: #f5f5f5;
$color-gray-dark: #dcdcdc;
$color-text-icon: #212121;
$color-text-primary: #212121;
$color-text-secondary: #727272;
$color-divider: #b6b6b6;
$color-blue: #448aff;
$color-shadow: #bbb;